<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Messages</key>
	<dict>
		<key>conversionError</key>
		<string>Os campos de moeda de origem, destino e valor desejado para conversão são de preenchimento obrigatório.</string>
	</dict>
	<key>Networking</key>
	<dict>
		<key>baseUrl</key>
		<string>http://apilayer.net/api</string>
		<key>accessKey</key>
		<string>6ffef73883416f4562f97320d90e45e9</string>
	</dict>
</dict>
</plist>
