<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alanminusculi.btgchallenge">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/btg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/btg"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTGChallenge">
        <activity
            android:name=".ui.currencies.CurrenciesListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.converter.ConverterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/FullScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>