<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>68e904c6ff1193ea810f9a2450e7aaaa</string>
	<key>baseURL</key>
	<string>http://apilayer.net/api</string>
</dict>
</plist>
